section{
    max-width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
}

img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
}

#title {
    text-align: center;
    font-size: 25px;
}
